<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87064617659-cb66u80pros2lndj8ntrff3012o4bmuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87064617659-cb66u80pros2lndj8ntrff3012o4bmuk</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwvC25vMuyKih30EkJssgIJgWfHKTvfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87064617659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edencorp.myfitnessapp</string>
	<key>PROJECT_ID</key>
	<string>specifit-app</string>
	<key>STORAGE_BUCKET</key>
	<string>specifit-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87064617659:ios:342fce4f10655cba4c7f9e</string>
</dict>
</plist>